<!--create.ejs-->
<form action="/model/create" method="POST">
  <div class="row"></div>
  <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="form-group">

      <label>name</label>
      <input type="text" class="form-control" name="Model[name]" required>
    </div>
    <div class="form-group">
      <label>loaction</label>
      <input type="text" class="form-control" name="Model[loaction]" required>
    </div>
    <div class="form-group">
      <label>date</label>
      <input type="date" class="form-control" id='datetimepicker' name="Model[date]" required>
    </div>


    <div class="form-group">
      <label>Image:</label>
      <input type="url" class="form-control" name="Model[image]">
    </div>


  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script>
  window.onload = function () {
    $("#datetimepicker").datepicker({
      format: 'dd-mm-yyyy'
    });
  }

</script>





